.exp {
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp > div {
  width: 80%;
}

.exp > div > input {
  width: 100%;
  border: 2px solid black;
  height: 30px;
  border-radius: 5px;
}

.exp > div > input:hover {
  transform: scale(103%);
  transition: 200ms ease-in-out;
}

.exp > div > input:focus-visible {
  outline: none;
}
