.header {
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  height: 15vh;
  color: rgb(14 165 233);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid black;
}
